<div class="table-container">
  <table class="table is-hoverable is-fullwidth members-table">
    <thead>
      <tr>
        {%- for column in columns %}
        <th>{{ column }}</th>
        {%- endfor %}
      </tr>
    </thead>
    <tbody>
      {%- for row in rows %} {%- if row.plating %}
      <tr>
        <td colspan="4" class="plating">{{ row.plating }}</td>
      </tr>
      {%- endif %} {%- if row.public %}
      <tr>
        <td>{{ row.no }}</td>
        <td>{{ row.name }}</td>
        <td>
          {%- if row.email -%}<a href="{{ 'mailto:%s' | format(row.email) }}">{{ row.email }}</a>{%- else -%}-{%- endif -%}
        </td>
        <td>
          {%- if row.phone -%}{{ row.phone }}{%- else -%}-{%- endif -%}
        </td>
      </tr>
      {%- if row.details %}
      <tr class="detail">
        <td colspan="4">
          <div class="detail-container">{{ row.details }}</div>
        </td>
      </tr>
      {%- endif %}
      {%- endif %} {%- endfor %}
    </tbody>
    <tfoot>
      <tr>
        {%- for column in columns %}
        <th>{{ column }}</th>
        {%- endfor %}
      </tr>
    </tfoot>
  </table>
</div>
