<div class="table-container">
  <table class="table is-hoverable is-fullwidth members-table">
    <thead>
      <tr>
        {%- for column in columns %}
        <th>{{ column }}</th>
        {%- endfor %}
      </tr>
    </thead>
    <tbody>
      {%- for row in rows %} {%- if row.public %}
      <tr>
        <td>{{ row.name }}</td>
        <td>
          {%- if row.year -%}{{ row.year }}{%- else -%}-{%- endif -%}
        </td>
      </tr>
      {%- endif %} {%- endfor %}
    </tbody>
    <tfoot>
      <tr>
        {%- for column in columns %}
        <th>{{ column }}</th>
        {%- endfor %}
      </tr>
    </tfoot>
  </table>
</div>
